<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHUIImagePickerController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SHUIImagePickerControllerLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SHUIImagePickerControllerLibrarySource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62DE4ADC1F9F1CC50086CE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62DE4AF51F9F1CC50086CE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62DE4B001F9F1CC50086CE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62DE4B161F9F1CF10086CE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62DE4B981FA09D590086CE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
